<div class="container-fluid">
  <div class="icon-container container text text-center mt-5">
    <i class="text text-center fa fa-check"></i>
  </div>
  <div class="container mt-5">
    <h6 class="text text-center">Digital application has been submitted successfully.</h6>
    <br><br>
    <h6 class="text ">If you would like a copy of your application for your records, click the download button below. If not, just close this page.</h6>
  <br>
  <button (click)="downloadMyFile()" class="btn btn-primary btn-block app-button mt-5" >Download Application</button>
  </div>
</div>
