.review-header{
  font-size: 14px;
  text-align: center;
  color:#14B6F1;
  margin-bottom: 20px;
}

#detail-header{
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  color: #002060;
}
p{
  font-size: 13px;

  color: gray !important;
}

#header-holder{
  padding: 10px;
  align-items: center;
  padding-left: 20px;
}

/* p{
  text-align: justify;
  color: #969696;
} */

h6{
  color: #969696;
}

.lock-holder{
  float:right;
  display: inline;
}

.outside-container{
  margin-top: 10px;
  padding: 10px;
}

.btn-crumb {
  display:block;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  border: 1px solid #0275d8;

}

.btn-crumb p{
  text-align: center;
  font-size: 13px;
  color: #0275d8;

}

.selected-crumb {
  display:block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid #0275d8;
  background-color: #0275d8 ;

}

.selected-crumb p{
  color: #ffffff ;
  text-align: center;
  font-size: 13px;
}

.breadcrumbs{
  display: inline-flex;
  margin: auto;
}

.crumbline{
  width: 10px;
}

.crumb-holder{
  width: 100%;
  display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox;  /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex;
  justify-content: center;
  align-items: center;
}

#myBtn{
  border-radius: 50%;
  background: #0275d8 ;
  z-index: 99;
  margin-right: 3px;
  display: inline-block;
}



#myBtn1{
  border-radius: 50%;
  background: #0275d8 ;
  z-index: 99;
  width: 50px;
  height: 50px;
}
#myBtn1{
  background:#002060;
}

.secure-lock{
  font-size: 25px;
}


.float-button{
  float: right;
  position: relative;
  z-index: 1;
}

.checkbox-text{
  font-size: 13px;
}
.icon-button1{
  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
}

/*.form-check{*/
/*  margin-left: 10px;*/
/*}*/
.icon-button2{
  /* position: absolute; */

  width: 40px;
  height: 40px;
  right: 0;
  bottom: 0;
}
li{
  margin-bottom: 15px;
}
.aggree-text{
  font-weight: bold;
  font-size: 15px;
  color:#002060;

}
.checkbox-text{
  font-weight: bold;
  font-size: 14px;
  color:#002060;

}
input{
  width: 20px;
  height: 20px;
}

button{
  width: 100%;
}

#cancel{
  background-color: darkgrey;
  border: darkgray;

}
