<div class="container-fluid">
  <div class="icon-container container text text-center mt-5">
      <div class="spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
      </div>
  </div>
  <div class="container mt-5">
    <h6 class="text text-center">It appears your co-applicant is still completing their application; once they are done you will be able to review the entire joint application and submit it. If the application expires before your co-applicant has provided their information, just contact the dealer and have them send a new link. You have the option of submitting this application without a co-applicant by clicking “Proceed as a sole applicant”.</h6>
  </div>

  <div class="container mt-5">
      <div class="row text-center">
        <div class="col-12 text-center"><img class="mr-4 lock-image" height="50px" width="50px" src="../../assets/images/stopwatch-solid.svg" alt="" srcset=""><span class="time">{{counter | formatTime}}</span></div>
        <!-- <div class="col-4"></div> -->
      </div>
  </div>
  <button href="#" class="btn btn-primary btn-block app-button mt-5" (click)="proceedAsSoleApplicatnt()">Proceed as sole applicant</button>
  <!-- <button href="#" *ngIf="view" [routerLink]="['/reviewinfo']"   class="btn btn-primary btn-block app-button mt-5">Review</button> -->
</div>
